[Unit]
Description=Labello
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
WorkingDirectory=/home/pi/labello
ExecStart=python3 -m poetry run gunicorn -b 0.0.0.0 labello.web:app

[Install]
WantedBy=multi-user.target
