{% extends "base.html" %}
{% macro label_card(label, owner='') -%}
<div class="card">
  <img class="card-img-top" style="filter: contrast(80%) sepia(20%);" src="/api/render/{{ label.id }}.png" alt="render of label {{ label.name }}">
  <div class="card-body">
    <h5 class="card-title">{{ label.name }}</h5>
    <p class="card-text">
      <span class="badge badge-pill badge-info">{{ label.format | default("EPL") }}</span>
      <small class="text-muted">{{ label.last_edit.strftime('%Y-%m-%d %H:%M:%S') }}</small>
    </p><a class="btn btn-outline-primary" href="/print/{{ label.id }}">Print</a> <a class="btn btn-outline-secondary" href="/editor/{{ label.id }}">Edit</a></p>
  </div>
</div>
{%- endmacro %}
  
{% block content %}

<h2>Label gallery</h2>

<div class="card-columns">
  {% for label in labels -%}
  {{ label_card(label) }}
  {%- endfor %}
</div>

{% endblock %}
