{% extends "base.html" %}
{% block content %}
    <h2>Edit label {{ label_id }}</h2>

    <p>
        <form action="" method="post">
            <div class="form-group">
                <textarea class="form-control" style="font-family:monospace;" name="raw" rows="5">{{- raw -}}</textarea>
            </div>
            <button name="action" id="action" value="save" type="submit"
                    class="btn btn-outline-primary">save
            </button>
        </form>
    </p>
{% endblock %}
